%h1 Welcome to the Warlocks Remake game!
%p
  %h3
    This is an attempt to remake the game Spellbinder, invented by Richard Bartle.
    It is mostly based on the Warlocks Free to Play game at the ravenblack website.
%h1 Current state
Currently I am prototyping the user interface.  I would appreciate it if you looked through the website and gave me some feedback on the page.
%h1
%p For people new to warlocks, the game rules can be found here:
= link_to 'http://games.ravenblack.net/rules/0/index.html', 'http://games.ravenblack.net/rules/0/index.html'
