/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
  margin: 0;
  padding: 0;
  background-color: #C3C3E5;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

table#maintable {
  width:100%;
  background-color: #C3C3E5;
}

td#login {
  text-align: right;
}

table#moves td {
  font-family: courier, courier, courier;
  font-size: 20pt;
  margin: 0;
  padding: 0;
}

table#moves td.paralysis {
  color: green;
}

table#moves td.shieldcast {
  color: blue;
}

table#moves td.spellcast {
  border:solid 1px red;
}

